---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Dichiarazione di accessibilità | Centro Servizi Scuole In Rete">
  <h1 class="text-3xl font-bold">Dichiarazione di accessibilità</h1>
  <p class="mt-3 text-black/75">Pagina placeholder: stato di conformità, contatti e data aggiornamento.</p>
</MainLayout>
