---
import MainLayout from "../../layouts/MainLayout.astro";
---

<MainLayout title="Crediti Foto | Centro Servizi Scuole In Rete">
  <section class="section-pad">
    <div class="site-container">
      <h1 class="text-5xl text-[var(--brand)]">Crediti foto</h1>
      <p class="mt-4 max-w-3xl text-black/70">In questa pagina sono riportate le fonti delle immagini utilizzate nel sito.</p>

      <div class="mt-8 rounded-2xl border border-black/10 bg-white p-6 text-sm leading-7 text-black/80">
        <p><strong>Corridoio hero:</strong> Foto di Alfredo Marco Pradil - <a class="underline" href="https://www.pexels.com/it-it/foto/corridoio-illuminato-dal-sole-nell-edificio-scolastico-di-saragozza-36742007/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Ingresso scuola:</strong> Foto di RDNE Stock project - <a class="underline" href="https://www.pexels.com/it-it/foto/scuola-studenti-corsa-eccitato-8500353/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Interno professionale:</strong> Foto di cottonbro studio - <a class="underline" href="https://www.pexels.com/it-it/foto/persone-ufficio-lavorando-posto-di-lavoro-8467589/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Foto mappa:</strong> Google Maps</p>
        <p><strong>Comunicazione:</strong> Foto di Mikhail Nilov - <a class="underline" href="https://www.pexels.com/it-it/foto/donna-scrivania-banco-ufficio-8297129/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Consulenza:</strong> Foto di Vitaly Gariev - <a class="underline" href="https://www.pexels.com/it-it/foto/36733331/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Formazione:</strong> Foto di RDNE Stock project - <a class="underline" href="https://www.pexels.com/it-it/foto/persone-ufficio-business-incontro-9034755/" target="_blank" rel="noreferrer">Pexels</a></p>
        <p><strong>Progettazione:</strong> Foto di Yan Krukau - <a class="underline" href="https://www.pexels.com/it-it/foto/persone-ufficio-scrittura-scrivendo-7698796/" target="_blank" rel="noreferrer">Pexels</a></p>
      </div>
    </div>
  </section>
</MainLayout>
